<div class="data">
  <div><%= time_tag(entity.created_at) %></div>
  <div class="info"><%= entity.ip %></div>
  <% unless entity.agent.nil? %>
      <div class="secondary info">
        <%= entity.agent.name %>
      </div>
  <% end %>
</div>
