.logo {
  img {
    max-width: 22.7rem;
  }
}

.old-price {
  font-size: smaller;
  text-decoration: line-through;
}

dt {
  font-weight: 700;
}

.program-age-group {
  display: inline-block;
  margin-bottom: .4rem !important;
  position: relative;

}

.program-school {
  ul {
    column-count: 4;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.program-age-group,
.program-school {
  label {
    border-radius: .2rem;
    cursor: pointer;
    padding: 0 .8rem;
  }

  input[type=checkbox] {
    display: none;

    &:checked + label {
      background: rgba(31, 127, 31, .25);
      box-shadow: 0 0 .4rem 0 rgba(31, 127, 31, .75);
    }
  }
}

@media screen and(max-width: 800px) {
  .program-school {
    ul {
      column-count: 3;
    }
  }
}

@media screen and(max-width: 640px) {
  .program-school {
    ul {
      column-count: 2;
    }
  }
}

@media screen and(max-width: 480px) {
  .program-school {
    ul {
      column-count: 1;
    }
  }
}
