<footer>
  <div class="wrapper">
    <ul class="links">
      <li>
        <a href="https://profilum.ru/dopolnitelnoe-obrazovanie-detej-programmy">Программы</a>
      </li>
      <li>
        <a href="https://profilum.ru/catalog">Профессии</a>
      </li>
      <li>
        <a href="https://profilum.ru/dopolnitelnoe-obrazovanie-detej-centry">Центры</a>
      </li>
      <li>
        <a href="https://profilum.ru/home/aboutproject">О проекте</a>
      </li>
    </ul>

    <div class="contact">
      <div>Наши контакты</div>
      <a href="mailto: mailto:ask@profilum.ru">ask@profilum.ru</a><br/>
      <a href="tel:+78005501246">8 (800) 550-12-46</a>

      <div class="nudged">
        <a href="https://www.mos.ru/" target="_blank" rel="external">
          <img src="https://profilum.ru/content/promo/images/landing/moscow-gov.png" alt=""/>
        </a>
      </div>
    </div>

    <%= render 'layouts/application/search_profilum' %>

    <div>
      <div class="social">
        <div>Мы в социальных сетях:</div>
        <ul>
          <li>
            <a href="https://www.facebook.com/profilum.ru/" class="fb">&nbsp;</a>
          </li>
          <li>
            <a href="https://www.vk.com/profilum.ru/" class="vk">&nbsp;</a>
          </li>
          <li>
            <a href="https://ok.ru/group/53458096357543" class="ok">&nbsp;</a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div>-->
      <!--<a href="#">Зарегистрироваться</a>-->
    <!--</div>-->
  </div>
  <div class="copyright">
    © <%= t(:copyright) %>
  </div>
</footer>
