.landing {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .about {
    //background: #fff image_url('bg-hands.png') no-repeat center top;
    padding: 32.6rem 0 0 0;
    color: $text-color-heading;

    .wrapper {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 108rem;
      padding: 2.8rem 3rem 3.5rem;

      h2 {
        font: normal 6rem/6rem $font-family-heading;
        margin: 0 0 3rem 0;
        text-align: center;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 88rem;

        li {
          flex: 1 0 19rem;
          max-width: 19rem;

          .image {
            img {
              max-height: 8rem;
            }
          }

          .text {
            font-size: 1.8rem;
            margin: 2.4rem 0 0 0;
          }
        }
      }

      .button {
        margin: 4rem 0 0 0;
        text-align: center;

        label {
          background: none;
          border: .3rem solid;
          border-radius: 3.4rem;
          color: #fff;
          display: inline-block;
          font: 2.4rem/6.2rem $main-font-family;
          padding: 0 3.6rem;
          text-transform: uppercase;
          transition: text-shadow .1s;

          &:hover,
          &:focus {
            text-shadow: 0 0 .8rem #fff;
          }
        }
      }
    }
  }

  .partners {
    margin: 8rem 0 0 0;

    h2 {
      color: $text-color-heading;
      font: normal 6rem/6rem $font-family-heading;
      text-align: center;
    }

    ul {
      margin: 2rem 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 2rem 3rem;

        a {
          filter: grayscale(100%);
          transition: filter .25s;

          &:hover {
            filter: none;
          }
        }
      }
    }
  }
}

#test-frame-toggle {
  display: none;

  &:not(:checked) + div {
    display: none;
  }

  &:checked + div {
    background: #fff;
    border-radius: 2rem;
    bottom: 2rem;
    box-shadow: 0 0 2rem 2rem rgba(127, 127, 127, .5);
    position: fixed;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    z-index: 3;

    .closer {
      padding: 0 .8rem 0 0;
      text-align: right;

      label {
        font-size: 4rem;
        line-height: 4rem;
      }
    }

    .container {
      height: calc(100vh - 10rem);

      iframe {
        border: none;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
      }
    }
  }
}
