<section class="about">
  <div class="wrapper">
    <h2>&laquo;Профилум&raquo; &mdash; это:</h2>

    <ul>
      <li>
        <div class="image">
          <%= image_tag('profilum/landing/about/talents.svg') %>
        </div>
        <div class="text">
          Помощь в выявлении талантов ребенка — даем точные рекомендации
          по учебе и карьере
        </div>
      </li>
      <li>
        <div class="image">
          <%= image_tag('profilum/landing/about/knowledge-base.svg') %>
        </div>
        <div class="text">
          Обширная база знаний по профессиям будущего — объясняем,
          кто будет востребован и сколько будет получать
        </div>
      </li>
      <li>
        <div class="image">
          <%= image_tag('profilum/landing/about/programs.svg') %>
        </div>
        <div class="text">
          Более 25 000 образовательных программ Москвы на любой
          вкус — позволят понять, что действительно понравится ребёнку
        </div>
      </li>
      <li>
        <div class="image">
          <%= image_tag('profilum/landing/about/consulting.svg') %>
        </div>
        <div class="text">
          Доступные индивидуальные консультации — помогаем ребенку лучше
          понять себя и свое место в мире
        </div>
      </li>
    </ul>
  </div>
</section>
