<section class="partners">
  <h2>Партнеры «Профилум»</h2>

  <ul>
    <li>
      <a rel="nofollow external" target="blank" href="https://www.mos.ru/">
        <%= image_tag('profilum/landing/partners/partner1.png') %>
      </a>
    </li>
    <li>
      <a rel="nofollow external" target="blank" href="http://innoagency.ru/">
        <%= image_tag('profilum/landing/partners/partner2.png') %>
      </a>
    </li>
    <li>
      <a rel="nofollow external" target="blank" href="http://tass.ru/">
        <%= image_tag('profilum/landing/partners/partner3.png') %>
      </a>
    </li>
    <li>
      <a rel="nofollow external" target="blank" href="https://czmol.ru">
        <%= image_tag('profilum/landing/partners/partner4.png') %>
      </a>
    </li>
  </ul>
</section>
